<!--  -->
<div class="text-center">Bienvenido</div>
  <div class="float-right">{{fecha | date:'shortTime'}}</div>
  <div class="">{{fecha | date:'mediumDate'}}</div>
  
<table>
  <tr>
    <td>
      <div class="row">
      <div class="col-12 col-md-8">
        <h1>Joaquin Alejandro Navedo Vazquez</h1>
      </div>
      <div class="col-6 col-sm-8">
        <h3>
          Titulo:
        </h3>
        Ing. en Electronica y Control
      </div>
      <div class="w-100 d-none d-md-block"></div>
      <div class="col-6 col-sm-8">
        <h3>
          Domicilio:
        </h3>
        Antimonio #516, Col. San Pedro 400, Mpio. San Pedro garza García
      </div>
      <div class="w-100 d-none d-md-block"></div>
      <div class="col-6 col-sm-8">
        <h3>
          Por que estoy en Towa?:
        </h3>
        Me gustan las competencias y towa te ofrece eso, ademas de un buen ambiente de trabajo.
      </div>
      <div class="w-100 d-none d-md-block"></div>
      <div class="col-6 col-sm-8">
        <h3>
          Gustos/Hobies:
        </h3>
        <ol>
          <li>Investigar</li>
          <li>Nadar</li>
          <li>Jugar videojuegos</li>
          <li>Diseño de robots</li>
        </ol>
      </div>
    </div>
  </td>
    <td>
      <img src="assets/sho.jpg" class="img float-right">
    </td>
  </tr>
</table>
